/* generic styles */

/* 
- https://bitsofco.de/the-new-system-font-stack/
- https://booking.design/implementing-system-fonts-on-booking-com-a-lesson-learned-bdc984df627f
*/
html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.icon {
	display: inline-block;
	vertical-align: baseline;
}

svg	path {
	fill: inherit;
}





/* CSS collapsible elements */


[data-collapsible] {
	height: 0;
	overflow: hidden;
	transition: max-height ease-out .3s;
}

[data-collapsible-controller] {
	display: none;
}

[data-collapsible-controller]:checked ~ [data-collapsible],
:target ~ [data-collapsible] {
	height: auto;
}

/* button */
[data-collapsible-button] {
	cursor: pointer;
}


/* BUTTON ICONS */

/* 1 icon */
[data-collapsible-icon] {
	display: inline-block;
	height: 1em;
	will-change: transform;
	transform: rotate3d(0,0,0,180deg);
	transition: transform ease-out .3s;
}

[data-collapsible-controller]:checked ~ [data-collapsible-button] [data-collapsible-icon] {
	transform: rotate3d(1,0,0,180deg);
}


/* EXPANDED / COLLAPSED ICONS (2 icons) */

/* collapsed state */
[data-collapsible-controller]:not(:checked) ~ [data-collapsible-button] [data-collapsible-icon="collapsed"] {
	display: inline-block;
}
[data-collapsible-controller]:not(:checked) ~ [data-collapsible-button] [data-collapsible-icon="expanded"] {
	display: none;
}

/* expanded state */
[data-collapsible-controller]:checked ~ [data-collapsible-button] [data-collapsible-icon="collapsed"] {
	display: none;
}
[data-collapsible-controller]:checked ~ [data-collapsible-button] [data-collapsible-icon="expanded"] {
	display: inline-block;
}




/* theme */


.section--demo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}

.article {
	flex: 1 0 50%;
	padding: 1rem;
}


.article-title {
	display: inline-block;
}

.button--toggle {
	display: inline-block;
	color: #0098d9;
	width: 1em;
	height: auto;
	margin-left: 1rem;
}